.ql-container {
    background-color: #6a0dad; 
    color: #ffffff; 
  }
  
  .ql-editor {
    background-color: #6a0dad; 
    color: #ffffff; 
  }
  
  .ql-toolbar {
    background-color: #6a0dad; 
    color: #ffffff; 
  }
  