@import "./custom_colors";

nav.navbar {
  height: 70px;
  border-bottom: 1px solid rgb(233, 233, 233);
  background-color: WHITE;

  .navbar-brand {
    img {
      height: 40px;
      margin-top: 15px;
    }
  }

  .navbar-menu {
    .navbar-end {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: auto;

      .navbar-item {
        .buttons {
          display: flex;
          gap: 11px;
          margin-top: -50px;
          padding-right: 20px; 

          .button {
            padding: 10px 20px;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color $custom-purple-darker;
            outline: none;

            &.is-primary {
              background-color: $custom-purple;
              color: rgb(247, 247, 247);

              &:hover {
                background-color:$custom-purple-darker;
                color: white;
              }

              &:active {
                background-color:$custom-purple-darker;
                color: white;
              }
            }

            &.is-light {
              background-color: $custom-purple-darker;
              color: rgb(255, 254, 254);

              &:hover {
                background-color:$custom-purple-darker;
                color: rgb(252, 252, 252);
              }

              &:active {
                background-color:$custom-purple-darker;
                color: rgb(255, 250, 250);
              }
            }
          }
        }
      }
    }
  }
}
