
@import "./custom_colors";

$header-height: 60px;
$logo-height: 50px;

.navbar {
  background-color: #ffffff;
  height: $header-height;

  .navbar-brand {
    display: flex;
    align-items: center;
    height: $header-height;
    position: relative;
    flex-grow: 13; 

    .navbar-logo-container {
      display: flex;
      align-items: center;
      height: 100%;
      flex-grow: 5; 
      position: relative;

      img {
        height: $logo-height;
      }
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: $header-height;
    margin-left: auto;
  }

  .navbar-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    .button {
      text-decoration: none;

      &.is-primary {
        background-color: #6a1b9a;
        border: none;
        color: #ffffff;
        font-weight: bold;
        border-radius: 8px;
        padding: 10px 16px;
        transition: all 0.3s ease;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        &:nth-of-type(1) {
          margin-left: -5px;
        }

        &:hover {
          background-color: #5e1288;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
          transform: translateY(-2px);
        }
      }

      &.is-light {
        background-color: #ffffff;
        border: none;
        color: #6a1b9a;
        border-radius: 8px;
        padding: 10px 16px;
        transition: all 0.3s ease;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        &:nth-of-type(2) {
          margin-left: -5px;
        }

        &:hover {
          background-color: #f0f0f0;
          color: #5e1288;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
          transform: translateY(-2px);
        }
      }
    }
  }

  .navbar-burger {
    margin-left: auto;
  }
}
