@import "./custom_colors";

.users-editMain {
    background: $custom-purple;
    padding: 20px;
  }
  
  .users-editMain-title {
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
  }
  
 